<nb-card size="medium">

  <nb-card-header>
    <span>{{data?.title}}</span>
  </nb-card-header>

  <nb-list class="user-activity-list">
    <nb-list-item *ngFor="let stat of data?.stats">

      <div class="visited-date">
        {{ stat?.time }}
      </div>

      <div class="visited-pages-count">
        <div class="caption">İstifadəçi</div>
        <div class="value">{{ stat?.userCount }}</div>
      </div>

      <div class="visited-percentages">
        <div class="caption">Yenilər, %</div>
        <div class="delta value" [class.up]="stat?.deltaUp > 0" [class.down]="stat?.deltaUp < 0" [class.zero]="stat?.deltaUp === 0">
          <nb-icon [icon]="stat?.deltaUp > 0 ? 'arrow-up' : stat?.deltaUp < 0 ? 'arrow-down' : 'square'" pack="eva"></nb-icon>
          {{ stat?.changePercentage }}%
        </div>
      </div>

    </nb-list-item>
  </nb-list>

</nb-card>
