<div class="houses-container mb-4" #scrollContainer style="height: 85vh; overflow-y: auto;">
  <div class="container-xxl">
    <div class="search d-lg-flex align-items-center">
      <input (input)="searchProducts($event)" placeholder="Məhsul adı, kodu, sahib adı, sahib nömrəsi ilə axtar..." type="text">
      <i class="bi bi-search text-white"></i>
    </div>
    <div class="filter d-flex justify-content-between align-items-center">
      <div class="parameters d-flex flex-wrap py-3 gap-2">
        <!-- Main Category Dropdown -->
        <div *ngIf="mainCategories.length > 0" class="item mt-1">
          <div class="dropdown select-parameter">
            <button
              aria-expanded="false"
              class="btn bg-white text-black rounded-pill"
              data-bs-toggle="dropdown"
              type="button"
            >
              <span>{{ selectedMainCategory?.name || 'Kategoriya' }}</span>

              <i
                *ngIf="!selectedMainCategory"
                class="bi bi-chevron-down ms-2"
              ></i>
              <i
                (click)="selectedMainCategory = undefined; selectedSubCategory = undefined; parameters = []; selectiveParameterValues.clear(); inputParameterRanges.clear(); this.fetchFilteredHouses()"
                *ngIf="selectedMainCategory"
                class="bi bi-x-lg ms-2"
              ></i>

            </button>
            <ul class="dropdown-menu">
              <li (click)="selectMainCategory(mc)" *ngFor="let mc of mainCategories">
                <a class="dropdown-item">{{ mc.name }}</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Sub Category Dropdown -->
        <div *ngIf="subCategories.length > 0" class="item mt-1">
          <div class="dropdown select-parameter">
            <button
              aria-expanded="false"
              class="btn bg-white text-black rounded-pill"
              data-bs-toggle="dropdown"
              type="button"
            >
              <span>{{ selectedSubCategory?.name || 'Alt Kategoriya' }}</span>

              <i
                *ngIf="!selectedSubCategory"
                class="bi bi-chevron-down ms-2"
              ></i>
              <i
                (click)="selectedSubCategory = undefined; parameters = []; selectiveParameterValues.clear(); inputParameterRanges.clear(); this.fetchFilteredHouses()"
                *ngIf="selectedSubCategory"
                class="bi bi-x-lg ms-2"
              ></i>

            </button>
            <ul class="dropdown-menu">
              <li (click)="selectSubCategory(sc)" *ngFor="let sc of subCategories">
                <a class="dropdown-item">{{ sc.name }}</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Price Parameter (Input Range) -->
        <div *ngIf="priceParameter" class="item mt-1">
          <div class="dropdown input-parameter">
            <button
              aria-expanded="false"
              class="btn bg-white text-black rounded-pill"
              data-bs-toggle="dropdown"
              type="button"
            >
              <span>
                {{
                  inputParameterRanges.has(priceParameter.id)
                    ? (inputParameterRanges.get(priceParameter.id)?.min || 0) + ' - ' + (inputParameterRanges.get(priceParameter.id)?.max || 0)
                    : priceParameter.name
                }}
              </span>
              <i
                *ngIf="!inputParameterRanges.has(priceParameter.id)"
                class="bi bi-chevron-down ms-2"
              ></i>
              <i
                (click)="inputParameterRanges.delete(priceParameter.id); this.fetchFilteredHouses()"
                *ngIf="inputParameterRanges.has(priceParameter.id)"
                class="bi bi-x-lg ms-2"
              ></i>
            </button>
            <ul class="dropdown-menu px-2">
              <li class="d-flex align-items-center gap-2">
                <input
                  (input)="onMinChange(priceParameter.id, $event)"
                  [value]="inputParameterRanges.get(priceParameter.id)?.min || ''"
                  min="0"
                  placeholder="min."
                  type="number"
                />
                <span>-</span>
                <input
                  (input)="onMaxChange(priceParameter.id, $event)"
                  [value]="inputParameterRanges.get(priceParameter.id)?.max || ''"
                  min="0"
                  placeholder="max."
                  type="number"
                />
              </li>
            </ul>
          </div>
        </div>

        <!-- Location Parameter (Selective) -->
        <div *ngIf="locationParameter" class="item mt-1">
          <div class="dropdown select-parameter">
            <button
              aria-expanded="false"
              class="btn bg-white text-black rounded-pill"
              data-bs-toggle="dropdown"
              type="button"
            >
              <span>{{
                  selectiveParameterValues.has(locationParameter.id)
                    ? selectiveParameterValues.get(locationParameter.id)?.valueName
                    : locationParameter.name
                }}</span>
              <i
                *ngIf="!selectiveParameterValues.has(locationParameter.id)"
                class="bi bi-chevron-down ms-2"
              ></i>
              <i
                (click)="selectiveParameterValues.delete(locationParameter.id); this.fetchFilteredHouses()"
                *ngIf="selectiveParameterValues.has(locationParameter.id)"
                class="bi bi-x-lg ms-2"
              ></i></button>
            <ul class="dropdown-menu">
              <li
                (click)="onSelectParameterChange(locationParameter.id, sp.id, sp.name)"
                *ngFor="let sp of locationParameter.selectiveParameterValues"
              >
                <a class="dropdown-item">{{ sp.name }}</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Dynamic Parameters -->
        <ng-container *ngFor="let parameter of parameters">
          <!-- Input Parameters -->
          <div
            *ngIf="parameter.inputParameterValues && parameter.inputParameterValues.length > 0"
            class="item mt-1"
          >
            <div class="dropdown input-parameter">
              <button
                aria-expanded="false"
                class="btn bg-white text-black rounded-pill"
                data-bs-toggle="dropdown"
                type="button"
              >
                <span>
                  {{
                    inputParameterRanges.has(parameter.id)
                      ? (inputParameterRanges.get(parameter.id)?.min || 0) + ' - ' + (inputParameterRanges.get(parameter.id)?.max || 0)
                      : parameter.name
                  }}
                </span>
                <i
                  *ngIf="!inputParameterRanges.has(parameter.id)"
                  class="bi bi-chevron-down ms-2"
                ></i>
                <i
                  (click)="inputParameterRanges.delete(parameter.id); this.fetchFilteredHouses()"
                  *ngIf="inputParameterRanges.has(parameter.id)"
                  class="bi bi-x-lg ms-2"
                ></i>
              </button>
              <ul class="dropdown-menu px-2">
                <li class="d-flex align-items-center gap-2">
                  <input
                    (input)="onMinChange(parameter.id, $event)"
                    [value]="inputParameterRanges.get(parameter.id)?.min || ''"
                    min="0"
                    placeholder="min."
                    type="number"
                  />
                  <span>-</span>
                  <input
                    (input)="onMaxChange(parameter.id, $event)"
                    [value]="inputParameterRanges.get(parameter.id)?.max || ''"
                    min="0"
                    placeholder="max."
                    type="number"
                  />
                </li>
              </ul>
            </div>
          </div>

          <!-- Selective Parameters -->
          <div
            *ngIf="parameter.selectiveParameterValues && parameter.selectiveParameterValues.length > 0"
            class="item mt-1"
          >
            <div class="dropdown select-parameter">
              <button
                aria-expanded="false"
                class="btn bg-white text-black rounded-pill"
                data-bs-toggle="dropdown"
                type="button"
              >
                <span>{{
                    selectiveParameterValues.has(parameter.id)
                      ? selectiveParameterValues.get(parameter.id)?.valueName
                      : parameter.name
                  }}</span>

                <i
                  *ngIf="!selectiveParameterValues.has(parameter.id)"
                  class="bi bi-chevron-down ms-2"
                ></i>
                <i
                  (click)="selectiveParameterValues.delete(parameter.id); this.fetchFilteredHouses()"
                  *ngIf="selectiveParameterValues.has(parameter.id)"
                  class="bi bi-x-lg ms-2"
                ></i>
              </button>
              <ul class="dropdown-menu">
                <li
                  (click)="onSelectParameterChange(parameter.id, sp.id, sp.name)"
                  *ngFor="let sp of parameter.selectiveParameterValues"
                >
                  <a class="dropdown-item">{{ sp.name }}</a>
                </li>
              </ul>
            </div>
          </div>
        </ng-container>

        <!-- Reset Filters Button -->
        <div *ngIf="parameters && parameters.length > 0" class="item mt-1">
          <button (click)="resetFilters()" class="btn bg-white text-black rounded-pill">
            <span>Filtri Sıfırla</span>
          </button>
        </div>

        <div class="sorting">
          <div class="item mt-1">
            <div class="dropdown">
              <button
                aria-expanded="false"
                class="btn bg-white text-black rounded-pill"
                data-bs-toggle="dropdown"
                type="button"
              >
                <span>{{ sortName }}</span>
                <i class="bi bi-chevron-down ms-2"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a (click)="setOrderType(OrderEnum.LAST)" class="dropdown-item">Ən son</a></li>
                <li><a (click)="setOrderType(OrderEnum.OLD)" class="dropdown-item">Ən əvvəl</a></li>
                <li><a (click)="setOrderType(OrderEnum.EXPENSIVE)" class="dropdown-item">Əvvəlcə Bahalı</a></li>
                <li><a (click)="setOrderType(OrderEnum.CHEAP)" class="dropdown-item">Əvvəlcə Ucuz</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Houses List -->
    <div  *ngIf="houses.length > 0" class="row">
      <div class="col-12">
        <nb-card>
          <nb-card-header>
            Elanlar
          </nb-card-header>
          <nb-card-body>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 gy-3 w-100"
                 *ngIf="houses && houses.length > 0">

              <div *ngFor="let house of houses">
                <div class="card h-100" (click)="openHouseDetail(house.id)">
                  <img [src]="house.coverImage || 'assets/images/no-image.png'" class="card-img-top" alt="..."/>
                  <div class="card-body position-relative">
                    <h6 class="card-title">{{ house?.price }} AZN {{ house?.priceType | priceTypePipe }}</h6>
                    <p class="card-text">{{ house?.name }}</p>
                    <span class="card-text">{{ house?.location }}</span>
                  </div>
                </div>
              </div>

            </div>

            <!-- Pagination Controls -->
            <div *ngIf="totalPages > 1 && !loading" class="pagination d-flex justify-content-center align-items-center mt-4">
              <ul class="pagination">
                <!-- Previous Button -->
                <li class="page-item" [class.disabled]="pageNumber === 1">
                  <button class="page-link" (click)="changePage(pageNumber - 1)" [disabled]="pageNumber === 1">
                    <span aria-hidden="true">&laquo;</span>
                  </button>
                </li>

                <!-- Page Numbers -->
                <li class="page-item" *ngFor="let page of getPageRange(); trackBy: trackByFn"
                    [class.active]="page === pageNumber"
                    [class.disabled]="page === '...'">
                  <button class="page-link" (click)="onPageClick(page)" [disabled]="page === '...'">
                    {{ page }}
                  </button>
                </li>

                <!-- Next Button -->
                <li class="page-item" [class.disabled]="pageNumber === totalPages">
                  <button class="page-link" (click)="changePage(pageNumber + 1)" [disabled]="pageNumber === totalPages">
                    <span aria-hidden="true">&raquo;</span>
                  </button>
                </li>
              </ul>
            </div>

          </nb-card-body>
        </nb-card>
      </div>
    </div>


    <!-- No Houses Found -->
    <div *ngIf="houses.length === 0 && !loading" class="not-found-container container-xxl mt-5">
      <div class="not-found-icon">🏠</div>
      <h2 class="not-found-title">Ev Tapılmadı</h2>
      <p class="not-found-message">
        Axtarışınıza uyğun elanda ev tapılmadı
      </p>
    </div>

    <div *ngIf="houses.length === 0 && loading"
         class="loading-container w-100 d-flex justify-content-center align-items-center">
      <div class="spinner-border text-primary" role="status">
      </div>
    </div>
  </div>
</div>
