<div class="user-info-container d-flex justify-content-between align-items-center">
  <div class="progress-info d-flex">
    <div class="h5">Ümumi istifadəçi sayı</div>
    <div class="subtitle">{{totalUsers}}</div>
  </div>

  <div class="progress-info d-flex">
    <div class="h5">Yeni istifadəçi sayı</div>
    <div class="subtitle">{{newUsers}}</div>
  </div>

  <div class="progress-info d-flex">
    <div class="h5">Köhnə istifadəçi sayı</div>
    <div class="subtitle">{{oldUsers}}</div>
  </div>
</div>
