<div class="row">
  <div class="col-12">
    <ngx-progress-section [oldUsers]="analytics?.oldUsers" [newUsers]="analytics?.newUsers"
                          [totalUsers]="analytics?.totalUsers"></ngx-progress-section>
  </div>
  <div class="col-xxl-3">
    <ngx-user-activity [data]="{title: 'Son 24 saat' , stats: analytics?.dailyStats}"></ngx-user-activity>
  </div>
  <div class="col-xxl-3">
    <ngx-user-activity [data]="{title: 'Son bir həftə' , stats: analytics?.weeklyStats}"></ngx-user-activity>
  </div>
  <div class="col-xxl-3">
    <ngx-user-activity [data]="{title: 'Son bir ay' , stats: analytics?.monthlyStats}"></ngx-user-activity>
  </div>
  <div class="col-xxl-3">
    <ngx-user-activity [data]="{title: 'Son bir il' , stats: analytics?.yearlyStats}"></ngx-user-activity>
  </div>
</div>

