<div #topOfPage></div>
<div class="container mt-4">
  <div class="alert alert-warning" role="alert">
    Nəzərə alınki Alt kateqoriyaların aidiyyatını seçməsəz o standard olaraq yaradılacaq.
    <hr>
    Parametrlərin aidiyyatını seçməsəz o standard olaraq yaradılacaq.
    <hr>
    Seçmə parametr dəyərlərinin aid olduğu parametri seçməsəz o ilk parametrin aidiyyatında yaradılacaq.
  </div>

  <!-- Warnings -->
  <div *ngFor="let warning of warnings" class="alert" [ngClass]="'alert-' + warning.type" role="alert">
    {{ warning.message }}
  </div>

  <!-- Main Categories Table -->
  <h3>Əsas Kateqoriyalar</h3>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Ad</th>
      <th>Əməliyyatlar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of mainCategories; let i = index">
      <td><input type="text" class="form-control" [(ngModel)]="category.name" maxlength="70"></td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteItem(i, 'mainCategory')">Sil</button>
      </td>
    </tr>
    <tr>
      <td><input type="text" class="form-control" [(ngModel)]="newMainCategory.name" maxlength="70" placeholder="Ad">
      </td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="addMainCategory()">Əlavə Et</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Sub Categories Table -->
  <h3>Alt Kateqoriyalar</h3>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Ad</th>
      <th>Əsas Kateqoriya</th>
      <th>Əməliyyatlar</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr *ngFor="let subCategory of subCategories; let i = index">
      <td><input type="text" class="form-control" [(ngModel)]="subCategory.name" maxlength="70"></td>
      <td>
        <select class="form-control" [(ngModel)]="subCategory.mainCategoryId">
          <option [ngValue]="null">Standart</option>
          <option *ngFor="let mc of mainCategories" [ngValue]="mc.id || mc.tempId">{{ mc.name }}</option>
        </select>
      </td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteItem(i, 'subCategory')">Sil</button>
      </td>
    </tr>
    <tr>
      <td><input type="text" class="form-control" [(ngModel)]="newSubCategory.name" maxlength="70" placeholder="Ad">
      </td>
      <td>
        <select class="form-control" [(ngModel)]="newSubCategory.mainCategoryId">
          <option [ngValue]="null">Standart</option>
          <option *ngFor="let mc of mainCategories" [ngValue]="mc.id || mc.tempId">{{ mc.name }}</option>
        </select>
      </td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="addSubCategory()">Əlavə Et</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Parameters Table -->
  <h3>Parametrlər</h3>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Ad</th>
      <th>Alt Kateqoriya</th>
      <th>Növ</th>
      <th>Əməliyyatlar</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="text" class="form-control" [value]="priceParameter?.name" maxlength="70" disabled></td>
      <td>
        <select class="form-control" disabled>
          <option selected>Standart</option>
        </select>
      </td>
      <td>
        <select class="form-control" disabled>
          <option value="INPUT" selected>Yazı</option>
          <option value="SELECT">Seçim</option>
        </select>
      </td>
      <td>
        <button class="btn btn-danger btn-sm" disabled>Silinməz</button>
      </td>
    </tr>

    <tr>
      <td><input type="text" class="form-control" [value]="locationParameter?.name" maxlength="70" disabled></td>
      <td>
        <select class="form-control" disabled>
          <option selected>Standart</option>
        </select>
      </td>
      <td>
        <select class="form-control" disabled>
          <option value="INPUT">Yazı</option>
          <option value="SELECT" selected>Seçim</option>
        </select>
      </td>
      <td>
        <button class="btn btn-danger btn-sm" disabled>Silinməz</button>
      </td>
    </tr>

    <tr *ngFor="let parameter of parameters; let i = index">
      <td><input type="text" class="form-control" [(ngModel)]="parameter.name" maxlength="70"></td>
      <td>
        <select class="form-control" [(ngModel)]="parameter.subCategoryId">
          <option [ngValue]="null">Standart</option>
          <option *ngFor="let sc of subCategories" [ngValue]="sc.id || sc.tempId">{{ sc.name }}</option>
        </select>
      </td>
      <td>
        <select class="form-control" [(ngModel)]="parameter.type">
          <option value="INPUT">Yazı</option>
          <option value="SELECT">Seçim</option>
        </select>
      </td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteItem(i, 'parameter')">Sil</button>
      </td>
    </tr>
    <tr>
      <td><input type="text" class="form-control" [(ngModel)]="newParameter.name" maxlength="70" placeholder="Ad"></td>
      <td>
        <select class="form-control" [(ngModel)]="newParameter.subCategoryId">
          <option [ngValue]="null">Standart</option>
          <option *ngFor="let sc of subCategories" [ngValue]="sc.id || sc.tempId">{{ sc.name }}</option>
        </select>
      </td>
      <td>
        <select class="form-control" [(ngModel)]="newParameter.type">
          <option value="INPUT">Yazı</option>
          <option value="SELECT">Seçim</option>
        </select>
      </td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="addParameter()">Əlavə Et</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Selective Parameters Table -->
  <div *ngIf="isSelectTypePresent()">
    <h3>Seçim Parametr Dəyərləri</h3>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Ad</th>
        <th>Parametr</th>
        <th>Əməliyyatlar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sp of selectiveParameters; let i = index">
        <td><input type="text" class="form-control" [(ngModel)]="sp.name" maxlength="70"></td>
        <td>
          <select class="form-control" [(ngModel)]="sp.parameterId">
            <ng-container *ngIf="locationParameter">
              <option [ngValue]="locationParameter.id || locationParameter.tempId">{{ locationParameter.name }}</option>
            </ng-container>

            <ng-container *ngFor="let p of parameters">
              <option *ngIf="p.type === ParameterTypeEnum.SELECT" [ngValue]="p.id || p.tempId">{{ p.name }}</option>
            </ng-container>
          </select>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteItem(i, 'selectiveParameter')">Sil</button>
        </td>
      </tr>
      <tr>
        <td><input type="text" class="form-control" [(ngModel)]="newSelectiveParameter.name" maxlength="70"
                   placeholder="Ad"></td>
        <td>
          <select class="form-control" [(ngModel)]="newSelectiveParameter.parameterId">
            <ng-container *ngIf="locationParameter">
              <option [ngValue]="locationParameter.id || locationParameter.tempId">{{ locationParameter.name }}</option>
            </ng-container>

            <ng-container *ngFor="let p of parameters">
              <option *ngIf="p.type === ParameterTypeEnum.SELECT" [ngValue]="p.id || p.tempId">{{ p.name }}</option>
            </ng-container>
          </select>
        </td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="addSelectiveParameter()">Əlavə Et</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Submit Button -->
  <button status="info" nbButton hero class="btn btn-success mt-2 mb-3 submit-btn" (click)="submitChanges()">Göndər
  </button>
  <button status=danger nbButton hero class="btn btn-success mt-2 mb-3 submit-btn" (click)="window.location.reload()">
    Ləğv et
  </button>

  <!-- Confirmation Modal -->
  <div class="modal" [ngClass]="{'d-block': showConfirmModal}" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xəbərdarlıq</h5>
        </div>
        <div class="modal-body">
          <p>{{ affectedHousesCount }} ev, silinəcək kateqoriyalara və ya parametrlərə aiddir. Davam etmək
            istəyirsiniz?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="showConfirmModal = false; window.location.reload()">
            Ləğv Et
          </button>
          <button type="button" class="btn btn-primary" (click)="confirmSave()">Davam Et</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Derelict Houses -->
  <div *ngIf="derelictHouses.length > 0" class="derelict-houses-container">
    <span>Əsas kateqoriyası, ALt kateqoriyası, Parametri və ya Seçmə Parametr dəyəri silinmiş evlər.
      <hr>
      Bu evlər istifadəçinin Evlər səhifəsində filterləmə zamanı görüntülənməyək zəhmət olmasa bu evlərin xüsusiylətrini yeni təyin etdiyiniz
      kateqoriyalar və parametrlərə uyğun dəyişdirin
      Evin üstünə klikləyərək evi dəyişdirə bilərsiz
    </span>
    <table class="derelict-houses-table mt-3">
      <thead>
      <tr>
        <th>#</th>
        <th>Ev Adı</th>
        <th>Ev Adresi</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let house of derelictHouses; let i = index" (click)="goToHouse(house.id)">
        <td>{{ i + 1 }}</td>
        <td>{{ house.name || 'Ad yoxdur' }}</td>
        <td>{{ house.location || 'Bölgə yoxdur' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
