// Variables
$carousel-width: 100%;
$carousel-max-width: 800px;
$slide-transition: transform 0.5s ease-in-out;
$button-bg-color: rgba(0, 0, 0, 0.5);
$button-hover-bg-color: rgba(0, 0, 0, 0.8);
$button-color: white;
$button-padding: 16px;
$button-font-size: 18px;
$button-border-radius: 5px;
$thumbnail-size: 80px;
$thumbnail-width-size: 100px;
$thumbnail-margin: 5px;
$thumbnail-border: 2px solid transparent;
$thumbnail-active-border: 2px solid #ffffff;

// Carousel Container

label{
  margin: 0 !important;
  padding: 5px !important;
  font-size: 0.9rem !important;
}

.carousel {
  position: relative;
  width: $carousel-width;
  max-width: $carousel-max-width;
  margin: auto;
  overflow: hidden;

  // Slides Container
  .slides {
    display: flex;
    transition: $slide-transition;

    // Individual Slide
    .slide {
      i {
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: white;
        color: red;
        font-size: 2rem;
        cursor: pointer;
        border-radius: 4px;
      }
      min-width: 100%;
      box-sizing: border-box;
      display: none;

      // Active Slide
      &.active {
        display: block;
      }

      // Slide Image
      img {
        width: 100%;
        height: 400px;
        object-fit: contain;
      }
      video {
        width: 100%;
        height: 400px;
        object-fit: contain;
      }
    }

    .media-operations{
      position: absolute;
      top: 0;
    }

  }

  // Navigation Buttons
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: $button-padding;
    color: $button-color;
    background-color: $button-bg-color;
    border: none;
    font-size: $button-font-size;
    transition: background-color 0.3s ease;

    // Button Hover Effect
    &:hover {
      background-color: $button-hover-bg-color;
    }
  }

  // Previous Button
  .prev {
    left: 0;
    border-radius: 0 $button-border-radius $button-border-radius 0;
  }

  // Next Button
  .next {
    right: 0;
    border-radius: $button-border-radius 0 0 $button-border-radius;
  }

  // Thumbnails Container
  .thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    // Individual Thumbnail
    .thumbnail {
      width: $thumbnail-width-size;
      height: $thumbnail-size;
      margin: $thumbnail-margin;
      cursor: pointer;
      border: $thumbnail-border;
      transition: border 0.3s ease;
      border-radius: 5px;

      // Active Thumbnail
      &.active {
        border: $thumbnail-active-border;
      }

      // Thumbnail Image
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

li {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

ul{
  padding: 0 !important;
}
.price-input{
  display: flex;
}


.flexible-textarea {
  min-height: 300px; /* min height */
  max-height: 300px; /* Maximum height */
  resize: none; /* Allows only vertical resizing */
}

.notes-text{
  background-color: #edf3fa;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 576px) {

  nb-card-header {
    flex-direction: column !important;

    label {
      margin-top: 0.9rem !important;
    }
  }
}
